data/hcl.dat
data/hcl_bm.dat

*.DS_Store
*.pyc
.RData
.Rhistory
.Rproj.user/
.idea/
.ipynb_checkpoints/
*.pkl
*.out
*.iml
*.csv
*.png
*.Rproj

data/
figures/
graphPractice.ipynb
map/
motifs/
rdata/
tests/
.Rproj.user
